@model User
@{
    ViewData["Title"] = "Query String Index";
}

<h1>query string data</h1>

<a class="btn btn-success"></a>

<h3>User</h3>
<dl class="row"> 
    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Id )
    </dt>
    <dd class="col-md-8">
        @Html.DisplayFor(Model => Model.Id )
    </dd>

    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Name )
    </dt>
    <dd class="col-md-8">
        @Html.DisplayFor(Model => Model.Name )
    </dd>

    <dt class="col-md-2">
        @Html.DisplayNameFor(Model => Model.Password )
    </dt>
    <dd class="col-md-8">
        @Html.DisplayFor(Model => Model.Password )
    </dd>


</dl>
